Source: dudld
Section: sound
Priority: optional
Maintainer: Rainer Clasen <bj@zuto.de>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: dudld
Architecture: any
Depends: ${shlibs:Depends}, dudl-db, dudl-dbschema0.4, gstreamer0.10-tools,
 gstreamer0.10-plugins-ugly
Suggests: gstreamer0.10-plugins, gstreamer0.10-lame
Description: dudl jukebox daemon
 The dudl jukebox is a network oriented MP3 server you can control from
 multiple clients.
 .
 This is the daemon using the dudl database.
